<h1>
  {{title}}
</h1>

<h3>
  Your current selection: {{ currentSelection$ | async }}
</h3>

<ng2-md-datatable selectable>
  <ng2-md-datatable-header>
    <ng2-md-datatable-column sortableValue="id" numeric>Id</ng2-md-datatable-column>
    <ng2-md-datatable-column sortableValue="name">Name</ng2-md-datatable-column>
    <ng2-md-datatable-column sortableValue="design">Design by</ng2-md-datatable-column>
    <ng2-md-datatable-column sortableValue="size">Available size</ng2-md-datatable-column>
  </ng2-md-datatable-header>
  <tbody>
    <ng2-md-datatable-row *ngFor="let tshirt of tshirts$ | async" [selectableValue]="tshirt.id">
      <td class="numeric">{{ tshirt.id }}</td>
      <td>{{ tshirt.name }}</td>
      <td>{{ tshirt.design }}</td>
      <td>{{ tshirt.size }}</td>
    </ng2-md-datatable-row>
  </tbody>
</ng2-md-datatable>

<a md-mini-fab class="demoApp__shuffle" title="Shuffle data!" (click)="shuffleData()">
  <md-icon>shuffle</md-icon>
</a>

<ng2-md-datatable-pagination
  [currentPage]="currentPagination.currentPage"
  [itemsPerPage]="currentPagination.itemsPerPage"
  [itemsCount]="currentPagination.totalCount"
  [itemsPerPageChoices]="[5, 10, 15]"></ng2-md-datatable-pagination>
