@import '~@angular/material/theming';
@import '../../dist/ng2-md-datatable/datatable-theme';

@include mat-core();

$primary: mat-palette($mat-brown, 600, 400, 800);
$accent:  mat-palette($mat-amber, 500, 300, 700);
$warn:    mat-palette($mat-red, 500, 300, 900);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include mat-datatable-theme($theme);
