@import 'mixins';

:host {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: right;
  text-overflow: ellipsis;

  @include userSelect(none);

  &.sortable:hover {
    cursor: pointer;
  }

  &.sorted-ascending > span, &.sorted-descending > span {
    margin-right: 5px;
  }

  &.sorted-ascending > span::before {
    font-family: 'Material Icons';
    vertical-align: sub;
    padding-right: 5px;
    content: '⬇';
  }

  &.sorted-descending > span::before {
    font-family: 'Material Icons';
    vertical-align: sub;
    padding-right: 5px;
    content: '⬆';
  }
}
