@import 'mixins';

:host {
  @include flexbox;
  @include flex-flow(row nowrap);
  @include justify-content(flex-end);
  @include align-items(center);

  font-weight: 400;
  color: #5c5c5c;
  font-size: 12px;
}

.pagination__controls {
  display: inline-block;
  padding: 0;
}
