@import 'mixins';

:host {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: right;
  text-overflow: ellipsis;
  padding-left: 56px;

  @include userSelect(none);


  &:last-child {
    padding-right: 24px;
  }

  &ng2-md-datatable-column {
    &:nth-of-type(1),
    &:nth-of-type(2) {
      padding-left: 24px;
    }
  }

  &.sortable:hover {
    cursor: pointer;
  }

  &.sorted-ascending > span, &.sorted-descending > span {
    margin-right: 5px;
  }

  &.sorted-ascending > span::before {
    font-family: 'Material Icons';
    vertical-align: sub;
    padding-right: 5px;
    content: '⬇';
  }

  &.sorted-descending > span::before {
    font-family: 'Material Icons';
    vertical-align: sub;
    padding-right: 5px;
    content: '⬆';
  }
}
